<div class="boardGames view indent">
    <div class="container">
        <header>
            <h3>
                <span class="glyphicon glyphicon-tower"></span>
                {{ title }}
            </h3>
        </header>
        <br />
        <div class="row">
            <div class="col-md-8">
                <div class="navbar">
                    <filter-textbox (changed)="filterChanged($event)"></filter-textbox>
                </div>
            </div>
            <div class="col-md-4">
                <a class="btn btn-default" [routerLink]="['/boardGames', '0']">Add New Board Game</a>
            </div>
        </div>

        <boardGames-grid [boardGames]="filteredBoardGames"></boardGames-grid>

        <pagination [totalItems]="totalRecords"
            [pageSize]="pageSize"
            (pageChanged)="pageChanged($event)"></pagination>

    </div>
</div>
